customtkinter==6.0.0
darkdetect==0.8.0
emoji==2.15.0
mss==10.2.0
pillow==12.3.0
psutil==7.2.2
pyautogui==0.9.54
pyngrok==8.1.2
pynput==1.8.1
pyperclip==1.11.0
pywin32==312
pywinstyles==1.8
PyYAML==6.0.3
requests==2.32.4
screeninfo==0.8.1
